<%- include('partials/header') %>

<body>
    <div class="mainDiv">
       
        <div class="flagDiv">
            <div id="innerFlag" class="innerFlag">
                <center><img src="" alt="" id="flag-container"></center>
            </div>
        </div>
        <form action="" class="formDiv">

            <select name="cars" id="nations" class="form-select form-select-lg mb-3"
                aria-label=".form-select-lg example">
                
            </select>
        </form>
        <li class="listNations"><strong>Capital:</strong>&nbsp <span id="cap"></span></li>
        <li class="listNations"><strong>Dial Code:</strong>&nbsp <span id="dia"></span></li>
        <li class="listNations"><strong>Population:</strong>&nbsp <span id="pop"></span></li>
        <li class="listNations"><strong>Currency:</strong>&nbsp <span id="cu"></span></li>
        <li class="listNations"><strong>Region:</strong>&nbsp <span id="reg"></span></li>
        <li class="listNations"><strong>Subregion:</strong>&nbsp <span id="sub"></span></li>
    </div>

    <%- include('partials/footer') %>


 
